<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS TodoList</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body ng-controller="TodoController as vm">
    <div class="container py-4">
        <h1 class="mb-4">AngularJS TodoList</h1>
        <div class="card mb-3">
            <div class="card-body">
                <form class="row g-2" ng-submit="vm.addTodo()">
                    <div class="col-md-9 col-lg-10">
                        <input type="text" class="form-control" placeholder="Add new" ng-model="vm.newTitle" required>
                    </div>
                    <div class="col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary w-100">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped align-middle mb-0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">Done</th>
                                <th class="text-end">Edit/Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="todo in vm.todos" class="todo-row">
                                <td>
                                    <span ng-if="!todo.isEditing">{{ todo.title }}</span>
                                    <input ng-if="todo.isEditing" type="text" class="form-control form-control-sm" ng-model="todo.editTitle">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input" ng-model="todo.isDone" ng-change="vm.toggleDone(todo)">
                                </td>
                                <td class="text-end">
                                    <div ng-if="todo.isEditing" class="btn-group btn-group-sm me-2" role="group">
                                        <button type="button" class="btn btn-primary" ng-click="vm.saveEdit(todo)">Save</button>
                                        <button type="button" class="btn btn-outline-secondary" ng-click="vm.cancelEdit(todo)">Cancel</button>
                                    </div>
                                    <button ng-if="!todo.isEditing" type="button" class="btn btn-sm btn-outline-secondary me-2" ng-click="vm.startEdit(todo)">Edit</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" ng-click="vm.removeTodo(todo)">Remove</button>
                                </td>
                            </tr>
                            <tr ng-if="!vm.todos.length">
                                <td colspan="3" class="text-center text-muted">No todo items yet. Add one above!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
